body {
	margin: 0px;
}
.outerBox {
	margin-top: 20px;
	border: 1px solid gray;
	box-shadow: 2px 2px 3px gray;
	padding: 20px;
	width: 400px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6) 2px 2px 10px rgba(0, 0, 0, 0.6);
	/* box-shadow: 0 0 5px #c1c1c1; */
}
.custom-navbar {
	background: transparent;
	box-shadow: none;
}
.cursors:hover {
	cursor: pointer;
}
